.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 72px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--CORNFLOWER, #e7e9fc);
  fill: #2e2f42;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  outline: transparent;
}

.call-back-form-description {
  width: 100%;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.call-back-form-field-wrapper {
  margin-bottom: 8px;
}

.call-back-form-field-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.call-back-form-field-label {
  margin-bottom: 4px;
}

.call-back-form-label-wrapper {
  margin-bottom: 8px;
}

.call-back-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.call-back-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-input:hover,
.call-back-form-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.call-back-form-input:hover + .call-back-form-input-icon {
  fill: #4d5ae5;
}
.call-back-form-input:focus + .call-back-form-input-icon {
  fill: #4d5ae5;
}

.call-back-form-comment-wrapper {
  margin-bottom: 16px;
}

.call-back-form-comment {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-comment:hover,
.call-back-form-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.call-back-form-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86em;
  letter-spacing: 0.48px;
}

.call-back-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.call-back-form-checkbox-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.user-privacy-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86em;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.call-back-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-own-checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-checkbox:checked
  + .call-back-form-checkbox-label
  > .call-back-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.call-back-form-checkbox:focus
  + .call-back-form-checkbox-label
  > .call-back-form-own-checkbox {
  border-color: #4d5ae5;
}

.call-back-form-checkbox:hover
  + .call-back-form-checkbox-label
  > .call-back-form-own-checkbox {
  border-color: #4d5ae5;
}

.call-back-form-checkbox-label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.call-back-form-submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-back-form-submit {
  display: block;
  color: var(--WHITE, #fff);
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.call-back-form-submit:hover,
.call-back-form-submit:focus {
  background-color: var(--OCEAN, #404bbf);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
