.page-title-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title-section {
  background: var(--navyblue, #2e2f42);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/backgrounds/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  line-height: 1.07;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 0;
  margin: 0 auto;
  max-width: 1440px;
}

.page-title-section .page-title {
  max-width: 160px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.order-service-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background: var(--ocean, #404bbf);
}

@media screen and (min-width: 321px) {
  .page-title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/backgrounds/hero-background-tablet.jpg);
  }
}

@media screen and (min-width: 768px) {
  .page-title-section {
    padding: 112px 0;
  }

  .page-title-section .page-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 769px) {
  .page-title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/backgrounds/hero-background.jpg);
  }
}

@media screen and (min-width: 769px) {
  .page-title-section {
    padding: 188px 0;
  }

  .page-title-section .page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 320px),
  (min-resolution: 2dppx) and (max-width: 320px),
  (min-device-pixel-ratio: 2) and (max-width: 320px) {
  .page-title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/backgrounds/hero-background-mobile@2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 321px),
  (min-resolution: 2dppx) and (min-width: 321px),
  (min-device-pixel-ratio: 2) and (min-width: 321px) {
  .page-title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/backgrounds/hero-background-tablet@2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 769px),
  (min-resolution: 2dppx) and (min-width: 769px),
  (min-device-pixel-ratio: 2) and (min-width: 769px) {
  .page-title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/backgrounds/hero-background@2x.jpg);
  }
}
