.our-portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-section .section-title {
  margin-bottom: 72px;
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list-item {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  width: 100%;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-item .card-content {
  padding: 32px 16px;
  border-top: none;
}

.our-portfolio-list-item .section-list-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  text-align: start;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.our-portfolio-list-item .section-list-item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background: var(--IRIS, #4d5ae5);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .our-portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
