/* PAGE-HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  width: 1128px;
  justify-content: space-between;
  margin: 0 auto;
}

/* PAGE-NAV */
.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio-nav {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
  color: #404bbf;
}

.nav-link.active {
  color: #404bbf;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

/* ADDRESS */
.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address-list-item .address-link {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: #404bbf;
}
